<article class="bg-white border shadow p-4 mb-5">

    <h1 class="mt-0"><a href='{{.Permalink}}'>{{.Title}}</a></h1>
    <div class="fs-5 fw-light">{{.Description}}</div>
    <div class="mt-2 mb-4 d-flex justify-content-between">

        <div>
            {{ if gt .Date.Year 1 }}
            <a href='{{.Permalink}}' class="text-muted">{{.Date.Format "January 2, 2006"}}</a>
            {{ end }}
        </div>

        <div>
            {{ range .Params.tags }}
            <code>{{ partial "tag-icon.html" }} <a href='/blog/tags/#{{ anchorize . }}' class="text-muted">{{ . }}</a></code>
            {{ end }}
        </div>
    </div>

    {{ if in .Params.tags "obsolete" }}
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">⚠️ WARNING: This page is obsolete</h4>
        <p class="mb-0">
            Articles typically receive this designation when the technology they describe is no longer relevant, code
            provided is later deemed to be of poor quality, or the topics discussed are better presented in future
            articles. Articles like this are retained for the sake of preservation, but their content should be
            critically assessed.
        </p>
    </div>
    {{ end }}

    {{ .Content }}

    <div class="text-end mt-5">

        <a class="github-button mx-1"
            href='https://github.com/swharden/swharden.com/issues/new?title=Feedback%20on%20%22{{ .Title }}%22&body=%0A%0A%0A---%0ARegarding {{ .Permalink }}'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chat-right-text" viewBox="0 0 16 16">
                <path
                    d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                <path
                    d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
            </svg>
            &nbsp;
            Feedback
        </a>

        <a class="github-button mx-1"
            href='https://github.com/swharden/SWHarden.com/blob/main/content/{{ path.Clean .File.Path }}'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            &nbsp;
            Edit
        </a>
    </div>

</article>

<hr style="opacity: 0;" class="py-4" />