<article class="bg-white border shadow p-4 mb-5">

    <h1 class="mt-0"><a href='{{.Permalink}}'>{{.Title}}</a></h1>
    <div class="fs-5 fw-light">{{.Description}}</div>
    <div class="mt-2 mb-4">

        {{ if gt .Date.Year 1 }}
        <a href='{{.Permalink}}'>{{.Date.Format "January 2, 2006"}}</a>
        {{ end }}
        
        {{ range .Params.tags }}
        <code><a href=''>{{ . }}</a></code>
        {{ end }}
    </div>

    {{ if in .Params.tags "obsolete" }}
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">⚠️ WARNING: This page is obsolete</h4>
        <p class="mb-0">
            Articles typically receive this designation when the technology they describe is no longer relevant, code
            provided is later deemed to be of poor quality, or the topics discussed are better presented in future
            articles. Articles like this are retained for the sake of preservation, but their content should be
            critically assessed.
        </p>
    </div>
    {{ end }}

    {{ .Content }}

    <hr class="mt-5" />
    <div>
        <a href='https://github.com/swharden/SWHarden.com/blob/main/content/{{ path.Clean .File.Path }}'>Edit this page
            on GitHub</a>
    </div>

</article>