<article class="bg-white border shadow p-4 mb-5 text-break">

    <h1 class="mt-0"><a href='{{.Permalink}}'>{{.Title}}</a></h1>
    <div class="fs-5 fw-light">{{.Description}}</div>
    <div class="mt-2 mb-4 d-flex justify-content-between">

        <div>
            {{ if gt .Date.Year 1 }}
            <a href='{{.Permalink}}' class="text-muted">{{.Date.Format "January 2, 2006"}}</a>
            {{ end }}
        </div>

        <div>
            {{ range .Params.tags }}
            <code>{{ partial "tag-icon.html" }} <a href='/blog/tags/#{{ anchorize . }}' class="text-muted">{{ . }}</a></code>
            {{ end }}
        </div>
    </div>

    {{ if in .Params.tags "obsolete" }}
    <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading" style="margin: 0;">⚠️ WARNING: This page is obsolete</h4>
        <p class="mb-0">
            Articles typically receive this designation when the technology they describe is no longer relevant, code
            provided is later deemed to be of poor quality, or the topics discussed are better presented in future
            articles. Articles like this are retained for the sake of preservation, but their content should be
            critically assessed.
        </p>
    </div>
    {{ end }}

    {{ .Content }}

    {{ if gt .Date.Year 1 }}
    {{ partial "article-footer.html" . }}
    {{ end }}

</article>

<hr style="opacity: 0;" class="py-4" />