<nav class="pt-3 text-end">

    <div class="d-inline-block">
        <a class="btn btn-primary" href="/" role="button" aria-expanded="false">
            Home
        </a>
    </div>

    <div class="dropdown d-inline-block">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Blog
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Latest</a></li>
            <li><a class="dropdown-item" href="/blog/posts/">Posts</a></li>
            <li><a class="dropdown-item" href="/blog/tags/">Tags</a></li>
            <li><a class="dropdown-item" href="/blog/feedback/">Feedback</a></li>
            <li><a class="dropdown-item" href="/blog/feed/">RSS Feed</a></li>
        </ul>
    </div>

    <div class="dropdown d-inline-block">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Scott
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about/">About</a></li>
            <li><a class="dropdown-item" href="/about/#contact">Contact</a></li>
            <hr />
            <li><a class="dropdown-item" href="https://github.com/swharden">GitHub</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/swharden/">LinkedIn</a></li>
            <li><a class="dropdown-item" href="https://scholar.google.com/citations?user=egCaj-AAAAAJ">Scholar</a></li>
        </ul>
    </div>

</nav>